<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>Connectify - Contact Management</title>
	<style>
		/* Add your CSS styles here */
		
	</style>
</head>

<body>
	<section>
		<header>
			<h1>Welcome to Connectify - Contact Management</h1>
		</header>
		<div class="container">
			<a href="create.html" class="btn">Create Contact</a>
			<a href="update.html" class="btn">Update Contact</a>
			<a href="read.html" class="btn">Read Contacts</a>
			<a href="delete.html" class="btn">Delete Contact</a>
		</div>
	</section>
</body>

</html>